/* Background color for body element */
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* -------------- Start of Style section for Header class ---------------- */
.header {
    /* padding: 20px; */
    background-color: #2a607c;
    color: #ffffff;
}

/* Style for H1 element under header class */
.header h1 {
    display: inline-block;
}


/* Style for Nav element under header class */
.header nav {
    float: right;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* List style type for unordered list under header class */
.header nav ul {
    list-style-type: none;
}

/* Style for lists under header class */
.header nav ul li {
    display: inline-block;
    margin-right: 5px;
    /* margin-left: 5px; */
}

@media only screen and (max-width: 630px) {
    header h1 {
        width: 30%;
        font-size: 20px;
    }

    header nav {
        width: 70%;
        font-size: 20px;
        float: right;
    }

    header nav ul {
        font-size: 20px;
        float: right;
    }

    .header2 h2 {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 15px;
    }

    .details p {
        font-size: 15px;
    }

    .contact-details {
        flex-wrap:  wrap;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 15px;
    }

    .work-details {
        flex-wrap:  wrap;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 15px;
    }

    div.work-details div {
        width: 47%;
    }



}

@media only screen and (max-width: 1250px) {
    div.work-details div {
        width: 45%;
    }

}

/* -------------- End of Style section for Header class ---------------- */

/* -------------- Start of style section for Hero class ---------------- */
.pic {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../Images/Image2.jpg");
    background-size: cover;
    background-position: center;
}




/* --------------- Start of style for article element --------------- */


.about-me,
.work,
.contact {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    height: auto;
    background-color: #0072bb;
    color: #ffffff;
    flex-direction: row;
    
}

.header2 {
    width: 20%;
    margin-bottom: 10px;
}

.details{
    width: 80%;
    margin-bottom: 10px;

}

.contact-details{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    
}

.work-details{
    display: flex;
    width: 80%;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;

}

.work-details div {
    width: 49%;
    margin: 5px;
    position: relative;
}

.work-details div img {
    width: 100%;
    height: 200px;
}

#first-work {
    width: 100%;
}

.img-cap {
    margin-left: 10px;
    top: -50px;
}
/* --------------- Start of style for footer element --------------- */

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    font-size: 20px;
}

/* --------------- End of style for aside element --------------- */