/* Body element style */
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* style for a element in the page */
a {
    color: white;
    text-decoration: none;
}

/* -------------- Start of Style section for Header class ---------------- */

/* style for header class */
.header {
    background-color: #2a607c;
    color: #ffffff;
}

/* Style for H1 element under header class */
.header h1 {
    display: inline-block;
}

/* Style for Nav element under header class */
.header nav {
    float: right;
    font-size: 20px;
}

/* Style for ul element inside nav under header class */
.header nav ul {
    list-style-type: none;
}

/* Style for li element under nav-ul under header class */
.header nav ul li {
    display: inline-block;
    margin-right: 5px;
}

/* -------------- End of Style section for Header class ---------------- */

/* -------------- Start of style section for pic class ---------------- */
.pic {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../Images/Image2.jpg");
    background-size: cover;
    background-position: center;
}
/* -------------- End of Style section for pic class ---------------- */

/* --------------- Start of style for article elements --------------- */

.about-me,
.work,
.contact {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    height: auto;
    background-color: #2a607c;
    color: #ffffff;
    flex-direction: row;
}

.header2 {
    width: 20%;
    margin-bottom: 10px;
}

.details {
    width: 80%;
    margin-bottom: 10px;
}

.contact-details {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 20px;
}

.work-details {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
}

.work-details div {
    width: 49%;
    margin: 5px;
    position: relative;
}

.work-details div img {
    width: 100%;
    height: 200px;
}

#first-work {
    width: 100%;
}

.img-cap {
    margin-left: 10px;
    top: -50px;
}

/* --------------- Start of style for footer element --------------- */

.footer {
    padding: 5px;
    text-align: center;
    font-size: 15px;
}

/* --------------- End of style for aside element --------------- */

/* Hover style */ 
a:hover {
    color: khaki;
    font-size: 30px;
}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}

/* responsive page style */ 
@media only screen and (max-width: 630px) {
    header h1 {
        width: 30%;
        font-size: 20px;
    }

    header nav {
        width: 70%;
        font-size: 20px;
        float: right;
    }

    header nav ul {
        font-size: 20px;
        float: right;
    }

    .header2 h2 {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 15px;
    }

    .details p {
        font-size: 15px;
    }

    .contact-details {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 15px;
    }

    .work-details {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 15px;
    }

    div.work-details div {
        width: 47%;
    }
}

@media only screen and (max-width: 1250px) {
    div.work-details div {
        width: 45%;
    }
}
