/* Backgound color for body */
body {
    background-color: aqua;
}

.header {
    padding: 10px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkgrey;
    color: white;
    }

.header h1 {
    display: inline-block;
}

.header nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
}
.header nav p{
    display: inline-block;
    margin-left: 10px;
}

.pic {
    padding: 50px;
    background-color: darkslategray;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-me, .contact, .work, .resume {
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    background-color: grey;
    margin-bottom: 10px;
}